.logo{
    height: 130px;
    width:130px;
    margin: 30px;;
  }
  /* Navbar.css */
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff;
  }
  .nav-faqs{
    cursor: pointer;
  }
  .navbar-double img{
    margin-left: 100%;
  }
  .navbar-double h3{
    margin-right: 10%;
  }

  .navbar-menu {
      list-style: none;
      display: flex;
      gap: 20px;
  }

  .navbar-menu a,
  .navbar-menu .active {
      text-decoration: none;
      color: #000;
  }

  .navbar-right {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .navbar-search-icon {
      position: relative;
  }

  .dot {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: rgb(255, 166, 71);
      color: white;
      border-radius: 50%;
      padding: 5px;
      font-size: 12px;
      min-width: 20px;
      text-align: center;
  }

.navbar button{
    background: transparent;
    font-size: 18px;
    color: #49557e; 
    border-radius: 1px solid rgb(255, 166, 71); 
    padding: 10px 30px; 
    border-radius: 50px; 
    cursor: pointer;  
    transition: 0.3s;
}
.navbar button:hover{
    background-color:#fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(255, 166, 71);
    border-radius: 5px;
    top:-8px;
    right: -8px;
}
.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    width: 150px;
    z-index: 2;
    
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 192, 124);
    padding: 12px 25px;
    border-radius: 4px;
    outline: 2px solid rgb(227, 207, 167);
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    
}
hr{
    margin-top: -10px;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: rgb(62, 62, 62);
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px) {
    .navbar-menu{
      display: none;
    }
}